data/raw/
data/processed/
venv/
.venv/
__pycache__/
.ipynb_checkpoints/
models/*.pth
models/*.pt
.DS_Store
results/*.npy
data/wlasl/raw_videos/
data/wlasl/frames/
data/wlasl/processed/
archive/
results/*.txt
results/*.csv
results/*.json
results/*.pt