data/raw/
data/processed/
venv/
.venv/
__pycache__/
.ipynb_checkpoints/
models/*.pth
models/*.pt
.DS_Store
results/cnn_probabilities.npy
results/cnn_true_labels.npy
results/hmm_decoded_sequence.npy
results/hmm_transition_matrix.npy